QB_API=http://qbittorrent:8080
QB_USERNAME=admin
QB_PASSWORD=change-me

SONARR_API=http://sonarr:8989
SONARR_API_KEY=change-me

RADARR_API=http://radarr:7878
RADARR_API_KEY=change-me

CHECK_INTERVAL=43200
LOGIN_RETRY_DELAY=30

SEEDING_TIME_LIMIT_HOURS=720
RATIO_LIMIT=2.0
CATEGORY_FILTER=["radarr","tv-sonarr"]

DELETE_FILES=false
DRY_RUN=true
